
// Header
$right-header-color: #183668;
$center-header-color: #2BB7D6;
$left-header-color: #88D6C9 ;
$search-bar-header-color: #183668;

// Footer
$footer-color: #183668;

// Content
$content-background-color: #F5F5F5;

// Generic
$placeholder-content-color: #B6B6B6;
$button-color: #32C7C3;

// Base
$white: #ffffff;
$black: #000000;
$greyish-white: #e6edf7;